{{#> layouts/base.hbs}}
    {{#*inline "title"}}{{asset.name}} | Luna{{/inline}}
    <div class="container">
        <h1>{{asset.name}}</h1>
        <li>
            <ul><a href="{{info.root}}/{{asset.author}}/{{asset.name}}">Home</a></ul>
            <ul><a href="{{info.root}}/{{asset.author}}/{{asset.name}}/changes.html">Changes</a></ul>
        </li>
    </div>
    {{> @partial-block }}
{{/layouts/base.hbs}}